<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Admin Login</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='fonts/glyphicons.css') }}" rel="stylesheet">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/admin_login.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>


    </head>
<body style="background-color: #f85a3e;">

<div id="wrapper" style="background-color: #333035;color: #fed766;justify-content: center;align-items: center;">

	
	<div id="content" style="background-color: #60BAB3;display: flex;justify-content: center;align-content: center;align-items: center;height: 100%;">
		
	<div id="login-container" style="margin-bottom:0;min-width: 292px;min-height: 483px;background-color:#333035">
		<img src="../static/images/logo.png" style="width: 16%;position: absolute;top: 2%;" class="img-responsive pull-right">
		<p style="font-size: 2rem;font-family: arial;color:#333035;">Admin Login</p>

		<!-- <p class='login-input-header'>Username</p> -->
		<input type="text" class='login-input' id='login-username' placeholder='username'>

		<!-- <p class='login-input-header'>Password</p> -->
		<input class='login-input' type="password" id='login-password' placeholder='password'>

        <div id='login-submit'>Admin Login</div>
	</div>
</div>

</body>


</body>
</html>