<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Family</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='fonts/glyphicons.css') }}" rel="stylesheet">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    </head>

<body style="background-color: #f85a3e;">

<div id="wrapper" style="background-color: #f85a3e;color: #fed766;">

	
	<div id="content" style="background-color: #f85a3e;display: flex;justify-content: center;align-content: center;align-items: center;height: 100%;">
		
	<div id="family-container" style="margin-bottom:0;min-width: 292px;min-height: 483px;">
		<img src="../static/images/logo.png" style="width: 16%;position: absolute;top: 2%;" class="img-responsive pull-right">
		<p style="font-size: 2rem;font-family: arial;">Add member to family.</p>

		<p class='family-input-header'>Username</p>
		<input type="text" class='family-input' id='user-username'>

		<p class='family-input-header'>Family name</p>
		<input class='family-input' type="text" id='family-name'>

		<div id='family-submit'>Submit</div>
	</div>
</div>

</body>


</body>
</html>