<!DOCTYPE html>
<html>
 <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Family</title>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='fonts/glyphicons.css') }}" rel="stylesheet">

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>


    </head>
<body style="background-color: #f85a3e;">

<div id="wrapper" style="background-color: #333035;color: white;justify-content: center;align-items: center;">

	
	<div id="content" style="background-color: #60BAB3;display: flex;justify-content: center;align-content: center;align-items: center;height: 100%;">
		<img src="../static/images/logo.png" style="width: 16%;position: absolute;top: 20px;left:20px;" class="img-responsive pull-right">
		
	<div id="register-container" style="margin-bottom:0;min-width: 292px;min-height: 750px;background-color:#333035">
		<p style="font-size: 2rem;font-family: arial;">Register</p>

		<p class='register-input-header'>Username</p>
		<input type="text" class='register-input' id='register-username'>

		<p class='register-input-header'>First Name</p>
		<input type="text" class='register-input' id='register-first-name'>

		<p class='register-input-header'>Last Name</p>
		<input type="text" class='register-input' id='register-last-name'>

		<p class='register-input-header'>Email</p>
		<input type="text" class='register-input' id='register-email'>

		<p class='register-input-header'>Password</p>
		<input class='register-input' type="password" id='register-password'>

		<div id='register-submit'>Submit</div>
	</div>
</div>

</body>


</body>
</html>